@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "NTR", sans-serif;
  font-weight: 100;
  font-size: 24px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */

.search-box {
  font-family: "Titillium Web", sans-serif;
  background-color: #2e323a;
  padding: 5px 30px 5px 30px;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
}

.burger {
  display: none;
  height: 50px;
  width: 50px;
  background-image: url("../image/icons/header/burger.png");
  background-size: 100% 100%;
}

.header__search {
  display: flex;
  justify-content: space-between;
}

.header__top {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 140px;
  background-color: #32363e;
}

.header__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header__date {
  position: relative;
  margin-top: 20px;
  font-family: "NTR", sans-serif;
  font-weight: 300;
  color: #d6d6d8;
  font-size: 20px;
}

.header__date::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: -16px;
  width: 15px;
  height: 15px;
  background-image: url("../image/icons/header/calendar.png");
  background-size: 100% 100%;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transition: 0.3s ease background-color;
  -o-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
  background-color: #2e323a;
}

.link + .link {
  margin-left: 10px;
}

.link__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.3s ease transform;
  -o-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}

.link__wrapper > img {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin-left: 7px;
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
  object-fit: contain;
}

.link:hover .link__wrapper {
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.link:first-child:hover {
  background-color: #3b5998;
}

.link:nth-child(2):hover {
  background-color: #00acee;
}

.link:nth-child(3):hover {
  background-color: #c4302b;
}

.link:nth-child(4):hover {
  background-color: #ee802f;
}

.header__bottom {
  height: 50px;
  background-color: #2e323a;
}

.header__bottom .container {
  height: 100%;
  max-width: 890px;
  margin: 0 auto;
}

.header__bottom nav {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.nav__item {
  z-index: 2;
  font-size: 15px;
  font-weight: 300;
  color: white;
  padding: 15px;
  transition: background-color 0.5s;
}

.nav__item:nth-child(1),
.nav__item:nth-child(9) {
  display: block;
}

.header__bottom .nav__item:nth-child(1) {
  border-top: 2px solid #65686b;
}

.header__bottom .nav__item:nth-child(2) {
  border-top: 2px solid #689f38;
}

.header__bottom .nav__item:nth-child(3) {
  border-top: 2px solid #51a3ff;
}

.header__bottom .nav__item:nth-child(4) {
  border-top: 2px solid #80cbc4;
}

.header__bottom .nav__item:nth-child(5) {
  border-top: 2px solid #80cbc4;
}

.header__bottom .nav__item:nth-child(6) {
  border-top: 2px solid #6f9ed3;
}

.header__bottom .nav__item:nth-child(7) {
  border-top: 2px solid #6f9ed3;
}

.header__bottom .nav__item:nth-child(8) {
  border-top: 2px solid #5dc866;
}

.header__bottom .nav__item:nth-child(9) {
  border-top: 2px solid #dec546;
}

.header__bottom .nav__item:nth-child(10) {
  border-top: 2px solid #bf3737;
}

.nav__item:nth-child(1):hover {
  background-color: #65686b;
}

.nav__item:nth-child(2):hover {
  background-color: #689f38;
}

.nav__item:nth-child(3):hover {
  background-color: #51a3ff;
}

.nav__item:nth-child(4):hover {
  background-color: #80cbc4;
}

.nav__item:nth-child(5):hover {
  background-color: #80cbc4;
}

.nav__item:nth-child(6):hover {
  background-color: #6f9ed3;
}

.nav__item:nth-child(7):hover {
  background-color: #6f9ed3;
}

.nav__item:nth-child(8):hover {
  background-color: #5dc866;
}

.nav__item:nth-child(9):hover {
  background-color: #222222;
}

.nav__item:nth-child(10):hover {
  background-color: #bf3737;
}

@media (max-width: 570px) {
  .header__top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__aside {
    margin-top: 10px;
    align-items: center;
  }
  .header__date {
    margin-top: 10px;
  }
}

@media (max-width: 890px) {
  .burger {
    display: block;
  }
  .header__bottom {
    display: none;
  }
}

.extra {
  position: relative;
  display: flex;
  flex-direction: column;
}

.extra ul {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
}

.extra li {
  width: 150%;
  padding: 15px;
  background-color: #222222;
}

.extra a {
  display: block;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

.extra a:hover {
  color: #dec546;
}

.extra:hover .extra__ul {
  display: block;
}

/* HEADER */

/* HEADER */

/* HEADER */

/* MAIN */

/* MAIN */

/* MAIN */

main {
  flex: 1 1 auto;
  position: relative;
  padding: 10px;
}

.close {
  display: none;
}

.burger__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 410px;
  height: 100%;
  background-color: #d6d6d8;
  opacity: 0.6;
}

.burger__nav {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 220px;
  min-height: 410px;
  height: 100%;
  background-color: #222222;
}

.burger__nav .nav__item {
  width: 100%;
}

.burger__nav .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.burger__nav .nav__item:nth-child(1) {
  border-left: 4px solid #bf3737;
}

.burger__nav .nav__item:nth-child(1):hover {
  background-color: #bf3737;
}

.burger__nav .nav__item:nth-child(2) {
  border-left: 4px solid #689f38;
}

.burger__nav .nav__item:nth-child(3) {
  border-left: 4px solid #51a3ff;
}

.burger__nav .nav__item:nth-child(4) {
  border-left: 4px solid #80cbc4;
}

.burger__nav .nav__item:nth-child(5) {
  border-left: 4px solid #80cbc4;
}

.burger__nav .nav__item:nth-child(6) {
  border-left: 4px solid #6f9ed3;
}

.burger__nav .nav__item:nth-child(7) {
  border-left: 4px solid #6f9ed3;
}

.burger__nav .nav__item:nth-child(8) {
  border-left: 4px solid #5dc866;
}

.burger__nav .nav__item:nth-child(9) {
  border-left: 4px solid #dec546;
}

main .container {
  max-width: 780px;
  padding: 10px;
}

/* MAIN */ /* MAIN */ /* MAIN */

/* FOOTER */ /* FOOTER */ /* FOOTER */

.footer {
  width: 100%;
  background-color: #32363e;
}

.footer .container {
  padding: 20px;
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer h2 {
  color: #d6d6d8;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer p,
.footer a {
  font-size: 17px;
  color: #828282;
  transition: color 0.3s;
}

.footer a:hover {
  color: #252329;
}

.footer span {
  color: #d6d6d8;
  font-size: 17px;
}

.logo__container {
  width: 260px;
}

.footer__logo img {
  object-fit: cover;
  width: 100%;
}

.footer__about {
  max-width: 450px;
  min-width: 250px;
}

.footer__icons {
  margin-top: 10px;
  display: flex;
}

.footer__bottom {
  margin-top: 20px;
}

.footer__border {
  height: 1px;
  width: 100%;
  background-color: #3c424c;
  margin-bottom: 10px;
}

@media (max-width: 1099px) {
  .footer__logo {
    width: 100%;
  }
  .logo__container {
    margin: 0 auto;
  }
}

/* FOOTER */ /* FOOTER */ /* FOOTER */

main *,
main::after,
main::before {
  box-sizing: border-box;
}

main html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

main figcaption,
main figure {
  display: block;
}

main body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

main [tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

main h1,
main h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

main p {
  margin-top: 0;
  margin-bottom: 1rem;
}

main ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

main blockquote {
  margin: 0 0 1rem;
}

main b {
  font-weight: bolder;
}

main a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

main a:hover {
  color: #0056b3;
  text-decoration: underline;
}

main figure {
  margin: 0 0 1rem;
}

main img {
  vertical-align: middle;
  border-style: none;
}

main label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

main button {
  border-radius: 0;
}

main button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

main button,
main input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

main button,
main input {
  overflow: visible;
}

main button {
  text-transform: none;
}

main [type="submit"],
main button {
  -webkit-appearance: button;
}

main [type="button"]:not(:disabled),
main [type="reset"]:not(:disabled),
main [type="submit"]:not(:disabled),
main button:not(:disabled) {
  cursor: pointer;
}

main [type="submit"]::-moz-focus-inner,
main button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

main::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

main h1,
main h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

main h1 {
  font-size: 2.5rem;
}

main h2 {
  font-size: 2rem;
}

main .lead {
  font-size: 1.25rem;
  font-weight: 300;
}

main
  .custom-control-input.is-valid:focus:not(:checked)
  ~ .custom-control-label::before,
main
  .was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #28a745;
}

main
  .custom-control-input.is-invalid:focus:not(:checked)
  ~ .custom-control-label::before,
main
  .was-validated
  .custom-control-input:invalid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #dc3545;
}

main .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

main .btn-primary:not(:disabled):not(.disabled).active,
main .btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

main .btn-primary:not(:disabled):not(.disabled).active:focus,
main .btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

main .btn-secondary:not(:disabled):not(.disabled).active,
main .btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

main .btn-secondary:not(:disabled):not(.disabled).active:focus,
main .btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

main .btn-success:not(:disabled):not(.disabled).active,
main .btn-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

main .btn-success:not(:disabled):not(.disabled).active:focus,
main .btn-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

main .btn-info:not(:disabled):not(.disabled).active,
main .btn-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

main .btn-info:not(:disabled):not(.disabled).active:focus,
main .btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

main .btn-warning:not(:disabled):not(.disabled).active,
main .btn-warning:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

main .btn-warning:not(:disabled):not(.disabled).active:focus,
main .btn-warning:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

main .btn-danger:not(:disabled):not(.disabled).active,
main .btn-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

main .btn-danger:not(:disabled):not(.disabled).active:focus,
main .btn-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

main .btn-light:not(:disabled):not(.disabled).active,
main .btn-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

main .btn-light:not(:disabled):not(.disabled).active:focus,
main .btn-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

main .btn-dark:not(:disabled):not(.disabled).active,
main .btn-dark:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

main .btn-dark:not(:disabled):not(.disabled).active:focus,
main .btn-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

main .btn-outline-primary:not(:disabled):not(.disabled).active,
main .btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

main .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
main .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

main .btn-outline-secondary:not(:disabled):not(.disabled).active,
main .btn-outline-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

main .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
main .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

main .btn-outline-success:not(:disabled):not(.disabled).active,
main .btn-outline-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

main .btn-outline-success:not(:disabled):not(.disabled).active:focus,
main .btn-outline-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

main .btn-outline-info:not(:disabled):not(.disabled).active,
main .btn-outline-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

main .btn-outline-info:not(:disabled):not(.disabled).active:focus,
main .btn-outline-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

main .btn-outline-warning:not(:disabled):not(.disabled).active,
main .btn-outline-warning:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

main .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
main .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

main .btn-outline-danger:not(:disabled):not(.disabled).active,
main .btn-outline-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

main .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
main .btn-outline-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

main .btn-outline-light:not(:disabled):not(.disabled).active,
main .btn-outline-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

main .btn-outline-light:not(:disabled):not(.disabled).active:focus,
main .btn-outline-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

main .btn-outline-dark:not(:disabled):not(.disabled).active,
main .btn-outline-dark:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

main .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
main .btn-outline-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

main .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #80bdff;
}

main
  .custom-control-input:not(:disabled):active
  ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

main .close:not(:disabled):not(.disabled):focus,
main .close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}

main .content__pic a {
  display: block;
}

main *,
main:before,
main:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main html {
  min-height: 100%;
}

main body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

main figcaption,
main figure {
  display: block;
}

main video {
  display: inline-block;
}

main span {
  display: inline-block;
  vertical-align: baseline;
}

main a,
main input,
main button,
main figure {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

main a,
main button,
main [type="submit"] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}

main a {
  cursor: pointer;
  -webkit-text-decoration-skip: none;
}

main button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}

main p {
  margin: 0;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
}

main b {
  font-weight: 700;
}

main img,
main video {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

main img {
  display: inline-block;
  image-rendering: optimizeQuality;
}

main h1,
main h2 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}

main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main input,
main button,
main a > * {
  display: inline-block;
  vertical-align: baseline;
}

main button,
main label,
main [type="submit"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

main [type="submit"],
main::-webkit-search-cancel-button,
main::-webkit-search-decoration,
main::-webkit-outer-spin-button,
main::-webkit-inner-spin-button,
main::-webkit-slider-thumb {
  -webkit-appearance: none;
}

main::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

main::-webkit-contacts-auto-fill-button,
main::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

main:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff;
}

main::-ms-clear,
main::-ms-reveal {
  display: none;
}

main input {
  width: 100%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

main:active,
main:hover,
main:focus {
  outline: 0;
  outline-offset: 0;
}

main:disabled {
  pointer-events: none;
}

main::-moz-focus-outer,
main::-moz-focus-inner {
  border: 0;
  padding: 0;
}

main html {
  font-family: Arial;
  color: #222;
  font-weight: 300;
  font-size: 16px;
}

@media (min-width: 320px) {
  main html {
    font-size: 16px;
    font-size: calc(0.001754386 * 100vw + 15.4385964912px);
  }
}

@media (min-width: 1460px) {
  main html {
    font-size: 18px;
  }
}

main body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main a {
  position: static;
  display: inline-block;
  vertical-align: middle;
  color: #bf0909;
}

main p {
  padding-bottom: 0.8em;
}

main p:last-child {
  padding-bottom: 0;
}

main p a {
  display: inline;
  vertical-align: baseline;
}

main .accent {
  color: #bf0909;
}

main .accent2 {
  color: #bf0909;
}

main .bottom-teaser {
  display: block;
}

main .bottom-teaser img {
  display: block;
  margin: 0 auto;
}

main .interview {
  padding-bottom: 2em;
  border-bottom: 2px solid #1d1c1c;
  margin-bottom: 2em;
}

main .interview ol {
  list-style-type: circle;
  list-style-position: inside;
}

main .lead__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 1em;
}

@media (min-width: 320px) {
  main .lead__title {
    font-size: 16px;
    font-size: calc(0.0087719298 * 100vw + 23.1929824561px);
  }
}

@media (min-width: 1460px) {
  main .lead__title {
    font-size: 36px;
  }
}

main .lead__pic {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  max-width: 500px;
  margin-bottom: 2em;
  text-align: center;
}

main .lead__caption,
main .content__pic-caption {
  padding: 10px;
  text-align: center;
  font-style: oblique;
  background-color: #eee;
}

main .lead__text {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 0.8em;
  line-height: 1.5;
}

main .content__pic {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
}

main .comments__title {
  margin-bottom: 0.9em;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

main .comments__list {
  margin-bottom: 2em;
}

main .comments__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

main .comments__avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #838383;
}

main .comments__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  main .comments__avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 60px;
    flex: 0 1 60px;
    height: 60px;
  }
}

main .comments__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(100% - 120px);
  flex: 1 1 calc(100% - 120px);
  margin-left: 20px;
}

main .comments__body img {
  max-width: 45%;
  margin-right: 20px;
}

main .comments__body img:last-of-type,
main .comments__body img:only-of-type {
  margin-right: 0;
}

@media (max-width: 500px) {
  main .comments__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% - 80px);
    flex: 1 1 calc(100% - 80px);
  }
  main .comments__body img {
    max-width: 98%;
    margin: 10px auto;
  }
}

main .comments__info {
  margin-bottom: 1em;
}

main .comments__name {
  font-weight: 700;
}

main .comments__date {
  margin-left: 0.5em;
  font-size: 0.8em;
  color: #a9a9a9;
}

main .video-wrap {
  position: relative;
  padding-bottom: 56.6%;
  margin-bottom: 2em;
}

main .video-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 700px) {
  main .video-wrap {
    padding-bottom: 100%;
  }
}

@media (max-width: 991px) {
  main .comments__item:nth-of-type(-n + 8) {
    display: none;
  }
}

main blockquote {
  padding: 0.5em 0 0.5em 1.1em;
  margin: 0 0 0.5em 0.9em;
  border-left: 3px solid #9a9a9a;
  font-size: 1.1em;
  font-style: italic;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  main .comments__item {
    flex-wrap: nowrap !important;
    justify-content: center;
  }
  main .comments__body {
    width: 70%;
  }
  main .ie {
    max-width: 450px;
    width: 100%;
  }
  main .ie1 {
    max-width: 500px;
    width: 100%;
  }
  main .video-wrap {
    background-size: 100% 100%;
  }
}

.order_block {
  h3 {
    text-align: center;
    margin: 0;
    display: block;
    font-size: 1.8em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
}
.iframe {
  padding: 20px;
  border: 2px solid #bd3d4d;
  background-color: #fdf7f8;
}

.ifr_button {
  padding: 0px 12px;
  border: none;
  display: block;
  margin: 20px auto;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: auto;
  height: 51px;
  line-height: 51px;
  background: #e74c3c;
  font-weight: 500;
  border-bottom: 2px solid;
}

.form_input {
  padding: 8px 10px;
  border: #888 1px solid;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}

.block_input{
  position: relative;
}

label[for="name"],
label[for="phone"] {
  margin-top: 10px;
  text-align: left;
}

.block_prompt {
  left: 0;
  top: -20px;
  background-color: rgb(231, 76, 60);
  border: 1px dashed black;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 14px;
  padding: 6px 5px 5px;
  position: absolute;
  z-index: 9999;
}
